[submodule "unitek-solusi/OCA-partner-contact"]
	path = unitek-solusi/OCA-partner-contact
	url = git@github.com:unitek-solusi/OCA-partner-contact.git
	branch = 11.0

[submodule "unitek-solusi/OCA-server-ux"]
	path = unitek-solusi/OCA-server-ux
	url = git@github.com:unitek-solusi/OCA-server-ux.git
	branch = 11.0

[submodule "unitek-solusi/OCA-sale-workflow"]
	path = unitek-solusi/OCA-sale-workflow
	url = git@github.com:unitek-solusi/OCA-sale-workflow.git
	branch = 11.0

[submodule "unitek-solusi/OCA-web"]
	path = unitek-solusi/OCA-web
	url = git@github.com:unitek-solusi/OCA-web.git
	branch = 11.0

[submodule "unitek-solusi/OCA-contract"]
	path = unitek-solusi/OCA-contract
	url = git@github.com:unitek-solusi/OCA-contract.git
	branch = 11.0

[submodule "unitek-solusi/OCA-pos"]
	path = unitek-solusi/OCA-pos
	url = git@github.com:unitek-solusi/OCA-pos.git
	branch = 11.0

[submodule "unitek-solusi/OCA-account-invoicing"]
	path = unitek-solusi/OCA-account-invoicing
	url = git@github.com:unitek-solusi/OCA-account-invoicing.git
	branch = 11.0
